<form [formGroup]="form" (submit)="save()" class="edit-form">
  <div class="edit-form__left">
    <label class="edit-form__label">
      <span class="edit-form__label-title">Heading</span>
      <input formControlName="title" class="edit-form__input" type="text" />
    </label>
    <label class="edit-form__label">
      <span class="edit-form__label-title">Short description</span>
      <input
        formControlName="shortDescription"
        class="edit-form__input"
        type="text"
      />
    </label>
    <label class="edit-form__label">
      <span class="edit-form__label-title">Content</span>
      <textarea
        formControlName="content"
        class="edit-form__textarea"
        cols="30"
        rows="10"
      ></textarea>
    </label>
  </div>
  <div class="edit-form__right">
    <label class="edit-form__label">
      <span class="edit-form__label-title">Image</span>
      <input formControlName="imageUrl" class="edit-form__input" type="text" />
    </label>
    <label class="edit-form__label">
      <span class="edit-form__label-title">Date</span>
      <input formControlName="date" class="edit-form__input" type="date" />
    </label>
    <label class="edit-form__label">
      <span class="edit-form__label-title">Author</span>
      <input formControlName="author" class="edit-form__input" type="text" />
    </label>
    <label class="edit-form__label">
      <span class="edit-form__label-title">Source URL</span>
      <input formControlName="sourceUrl" class="edit-form__input" type="text" />
    </label>
    <div class="edit-form__buttons">
      <button class="edit-form__button" type="submit">Save</button>
      <button (click)="cancel()" class="edit-form__button" type="button">
        Cancel
      </button>
    </div>
  </div>
</form>
