<form class="edit-form">
  <div class="edit-form__left">
    <label class="edit-form__label">
      <span class="edit-form__label-title">Heading</span>
      <input class="edit-form__input" type="text" />
    </label>
    <label class="edit-form__label">
      <span class="edit-form__label-title">Short description</span>
      <input class="edit-form__input" type="text" />
    </label>
    <label class="edit-form__label">
      <span class="edit-form__label-title">Content</span>
      <textarea class="edit-form__textarea" cols="30" rows="10"></textarea>
    </label>
  </div>
  <div class="edit-form__right">
    <label class="edit-form__label">
      <span class="edit-form__label-title">Image</span>
      <input class="edit-form__input" type="text" />
    </label>
    <label class="edit-form__label">
      <span class="edit-form__label-title">Date</span>
      <input class="edit-form__input" type="date" />
    </label>
    <label class="edit-form__label">
      <span class="edit-form__label-title">Author</span>
      <input class="edit-form__input" type="text" />
    </label>
    <label class="edit-form__label">
      <span class="edit-form__label-title">Source URL</span>
      <input class="edit-form__input" type="text" />
    </label>
    <div class="edit-form__buttons">
      <button class="edit-form__button" type="submit">Save</button>
      <button (click)="cancel()" class="edit-form__button" type="button">
        Cancel
      </button>
    </div>
  </div>
</form>
