<header class="header">
  <div class="container">
    <app-weather class="header__weather"></app-weather>
    <div class="header__inner">
      <div class="header__top">
        <div class="logo">logo</div>
        <div class="header__auth">
          <span class="header__login">User login</span>
          <button class="header__logout" type="button">Log Out</button>
        </div>
      </div>
      <h1 class="header__title">Random posts</h1>
      <a
        *ngIf="isPostsPage"
        routerLink="cdk-elements"
        class="header__link"
        (click)="toggleLinks()"
        >Show angular cdk components</a
      >
      <a
        *ngIf="!isPostsPage"
        routerLink="posts"
        class="header__link"
        (click)="toggleLinks()"
        >Show posts</a
      >
    </div>
  </div>
</header>
