<div class="post">
  <div class="post__img"></div>
  <div class="post__info">
    <h2 class="post__title">{{ post?.title }}</h2>
    <p class="post__text">
      {{ post?.content }}
    </p>
    <div class="post__date">{{ post?.date }}</div>
    <div class="post__author">{{ post?.author }}</div>
  </div>
  <div class="post__buttons">
    <button (click)="editPost(post?.id)" class="post__button" type="button">
      Edit
    </button>
    <button class="post__button" type="button">Delete</button>
  </div>
</div>
