<div class="posts">
  <ul class="posts__list">
    <li *ngFor="let i of [1, 2, 3]" class="posts__list-item">
      <article class="post">
        <div class="post__img"></div>
        <div class="post__info">
          <div class="post__info-top">
            <h2 class="post__info-title">Post title</h2>
            <div class="post__info-date">Date</div>
          </div>
          <p class="post__info-text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Reiciendis, cumque.
          </p>
          <a class="post__info-link">Read more...</a>
        </div>
        <div class="post__buttons">
          <button class="post__button" type="button">Edit</button>
          <button class="post__button" type="button">Delete</button>
        </div>
      </article>
    </li>
  </ul>
  <button class="load-more">Load more</button>
</div>
