/* You can add global styles to this file, and also import other style files */
@import "reset";

html,
body {
  height: 100%;
}

.container {
  max-width: 900px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
